#footer {
  // position: sticky;
  // top: 0;
  border-top: 1px solid rgb(0, 0, 0);
  width: 100%;
  flex-shrink: 0;

  background-color: var(--white);
  // text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: var(--eerie-black);
    span {
      color: inherit;
      font-weight: bold;
    }
    .heart {
      color: rgb(238, 52, 52);
    }
  }
}
