@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400&display=swap");

:root {
  --azure: rgba(0, 122, 235, 1);
  --azureHover: rgb(16, 116, 209);
  --eerie-black: rgba(33, 33, 33, 1);
  --white: rgb(247, 247, 247);
  --yellowish: #ffe333;
  --callBG: rgba(190, 190, 190, 0.157);
  --errorRed: rgb(221, 50, 50);
  --errorRedHover: rgb(202, 47, 47);
  --happyGreen: rgb(95, 206, 95);
  --happyGreenHover: rgb(84, 180, 84);
  --light-text: rgb(77, 77, 77);

  --sidebar-li-bg: rgba(255, 255, 255, 0.137);
  --result-hover: rgba(255, 0, 0, 0.089);
  --input-bg: rgb(233, 233, 233);
  --videoBG: rgb(255, 255, 255);
  --localBG: rgb(226, 73, 73);
  --leaveBG: rgb(223, 38, 38);
  --panelBG: rgb(255, 255, 255);
  --savedRmBG: white;
  --ph-input-color: rgba(0, 0, 0, 0.519);
  --outline-color: var(--errorRed);
  --card-bg: rgb(255, 255, 255);
  --border-color: rgba(0, 0, 0, 0.136);
  --dashedBG: rgb(0, 0, 0);
  --not-savedBG: rgba(255, 255, 255, 0.394);
  --savedBG: rgb(37, 37, 37);
}

body {
  background-color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif, helvetica, arial;
}

// p,
// span,
// h1,
// h2,
// h3,
// h4,
// h5 {
//   color: var(--eerie-black);
// }

p,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.8px;
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

#__next {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

// input,
// button,
// a {
//   &:focus {
//     outline: none;
//   }
// }

.form-control {
  // --input-color: rgba(0, 0, 0, 0.519);

  button {
    display: block;
    min-width: 250px;
  }

  .item {
    margin: 20px 0;
  }

  .form-input {
    margin: 0;
    font-size: 15px;
    min-height: 35px;
    border: 0;

    &:focus {
      outline: var(--outline-color);
    }
  }
}

.constrain {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.input__wrapper {
  background: white;
  svg {
    cursor: pointer;
  }

  border: 2px solid var(--border-color);
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  padding: 2px 5px;

  input {
    flex-basis: 100%;
  }

  align-items: center;
  gap: 10px;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 45px;
  padding: 2px;
  font-size: 17px;
  font-weight: 500;

  transition: background 100ms ease-in-out;
}

.long-btn {
  button {
    height: 35px !important;
    display: block;
    color: white;

    font-size: 16px;
  }
}

.btn_blue {
  color: white;
  background-color: var(--azure);
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: var(--azureHover);
  }
}

.container {
  max-width: 600px;
}

.card {
  padding: 30px;
  background-color: var(--card-bg);
  box-shadow: rgba(100, 100, 111, 0.192) 0px 7px 29px 0px;
  border-radius: 10px;
  color: var(--eerie-black);
}

.main {
  flex: 1 0 auto;
}

#toast-container {
  z-index: 999;
  background-color: var(--azure);
}

.toaster {
  color: red;
}

//Rooms

.displayRoomContainer {
}

.growContainer {
  display: flex;
}

.bold {
  // font-weight: 600;
}

//Dashboard

.dashboard-outter-container {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-inner-container {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  flex-grow: 10;

  .greeting {
    margin-bottom: 60px;
  }
}

.panel-constrain {
  max-width: 485px;
  margin: 0 auto;

  .room-form {
    margin: 0 auto;
  }
}

.panel {
  // margin: 10px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.226);

  background: var(--panelBG);
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;

  > div {
    flex-grow: 100;
  }
}

.panel-max-width {
  max-width: 600px;
}

.marginCenter {
  margin: 0 auto;
}

.uniformRound {
  height: auto !important;
}

.bold {
  font-weight: 800;
}

#room-form-container {
  margin-top: 80px;

  h1 {
    margin-bottom: 60px;
  }

  input {
    display: block;
    width: 100%;
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;

    button {
      font-size: 15px;
      max-width: 150px !important;
      min-width: 100px !important;
    }
  }

  .room-form {
    .form-control {
      margin: 30px 0;
      text-align: start !important;
    }
  }

  .btn {
    margin: 0;
    display: block;
    padding: 0;
  }

  .circleBtn {
    border-radius: 50%;
  }

  .utils {
    display: flex;
    justify-content: space-between;

    p {
      color: white;
    }

    * {
      color: var(--eerie-black);
    }

    .delete {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background: var(--leaveBG);
      width: 22px;
      text-align: center;
      height: 22px;
      font-weight: bold;
      padding-bottom: 2.01px;
      transition: scale 150ms ease-in-out;

      &:hover {
        scale: 1.2;
      }
    }
  }

  .savedRooms {
    padding: 5px;

    .wrapper {
      display: flex;
      justify-content: space-evenly;

      padding: 10px 0;
    }

    .saved-room {
      width: 200px;
      // height: 110px;
      aspect-ratio: 2 / 1;
      // border: solid 2px varvar((--eerie-black);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.346);
      border-radius: 5px;
      padding: 5px;
      margin: 20px;

      .btn-wrapper {
        display: flex;
        align-items: flex-end;
      }

      .join {
        width: 100%;
      }

      &.saved {
        background: var(--savedBG);
      }

      &.not-saved {
        border: dashed 3px var(--dashedBG);
        background: var(--not-savedBG);
      }
    }
  }
}

#room-form-info {
  border-top: 2px solid var(--azure);
  margin-top: 10px;

  ul {
    margin-top: 30px;
    li {
      display: flex;
      align-items: center;

      > * {
        display: block;
        color: rgba(0, 0, 0, 0.588);
      }
      p {
        display: block;
        margin-left: 15px;
      }
    }
  }
}

#room-add-form {
  text-align: center;
  // border-top: solid 2px var(--eerie-black);

  .room-form {
    margin: 0 auto;
  }

  .heading {
    h2 {
      color: white;
    }
    margin-bottom: 50px;
  }
}

.loading-room-form {
  width: 80%;
  height: 400px;
  background: rgb(240, 240, 240);
}

.heading {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--eerie-black);
  }

  svg {
    fill: var(--eerie-black);
  }
}

.form__container {
  text-align: center;

  margin: 0 auto;

  max-width: 450px;
  form {
    button {
      width: 100%;
      // margin: 20px 0;
    }
  }
}

.yellowish {
  background: var(--yellowish);
}

#room-container {
  margin-top: 20px;
  // background: var(--eerie-black);
  img {
    display: block;
  }
}

#room-title {
  display: flex;
}

.focus {
  :nth-child(1) {
    width: 100%;
    // padding-top: 56.25%;
    height: 0px;
    position: relative;
  }
}

#main-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: 0.2fr 1fr minmax(0fr, 0.5fr);
  gap: 10px;
  // border: 5px solid red;
  // background-color: rgba(223, 223, 223, 0.31);
  // min-height: 800px;
  // max-height: 650px;
  max-width: 750px;
  // overflow: hidden;
  padding: 10px;

  #video-controls {
    display: flex;
    background: var(--panelBG);
    min-height: 100px;
    justify-content: space-evenly;
    grid-row: 3 / 4;
    align-items: center;
  }

  #main-hub {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    font-size: 15px !important;

    .focus {
      height: 100%;

      div {
        // border: 3px solid var(--leaveBG);
        overflow: hidden !important;
        position: relative !important;
        background: none !important;

        video {
          border-radius: 20px;
          position: relative !important;
          // width: 100% !important;
          // height: 300px !important;
        }
        // height: auto !important;
      }
    }
  }
}

#room-info {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 5px 2px rgba(2, 0, 0, 0.179);
  background: white;
  border-radius: 20px;

  button {
    padding: 10px;
    font-size: 15px !important;
    width: 125px;
    height: 35px;
  }

  .room-icons {
    margin-top: 10px;
  }
}

.video {
  object-fit: cover;
  width: 100%;
  // height: 100%;
}

#video-container {
  // grid-auto-columns: 1fr 1fr;
  padding: 10px;
  min-height: 100vh;
}

.centerMe {
  margin: 0 auto;
}

video {
  height: 100%;
  width: 100%;
  position: relative;
}

#local-element {
  border-radius: 10px;
  // border: 2px solid var(--localBG);
  overflow: hidden;
  min-width: 300px;
  max-width: 700px;
}

#local-camera {
  display: block;
  width: 100%;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -mox-transform: rotateY(180deg);
}

#local-stream {
  z-index: 100;
  // position: relative;
  // display: flex;
  // min-height: 80%;
}

//Remote streams

#remote-streams {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  display: flex;
  overflow: hidden;

  video {
    max-width: 100%;
    min-height: auto;
  }
}

.streamContainer {
  border-radius: 10px;
  overflow: hidden;
  // background: rgb(238, 0, 0);
  // background: rgb(36, 36, 36);
  margin: 5px 0;
  height: 100%;
  max-width: 45%;
  position: relative;

  div {
    background: none !important;
    border-radius: 20px;
  }

  // max-width: 400px;
  // max-height: 350px;
  // min-width: 280px;
  // min-height: 180px;

  .info {
    padding: 2% 2%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
  }

  // Video container div
  > div {
    height: auto !important;
    width: auto !important;
    max-width: 100% !important;

    video {
      position: relative !important;
      height: auto !important;
      width: auto !important;

      // Fixes margin at bottom of video element
      display: block;
    }
  }

  &:hover {
    .userControls {
      display: flex;
      opacity: 100%;
      transition: all 250ms ease-in-out;
    }
  }

  p {
    color: white;
    font-weight: bold;
  }

  .userControls {
    opacity: 0;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    // transform: translateX(-50%);
  }
}

//* ─── Friend Finder ───────────────────────────────────────────────────────────

#friend-form-inner {
  justify-content: space-between;
  align-items: flex-end;

  button {
    margin: 0;
  }

  gap: 20px;

  input {
    flex-grow: 100;
  }
}

#friend-results {
  color: var(--light-text) !important;
  p {
    padding: 5px 10px;

    color: var(--light-text) !important;
  }
  transform: translate(-50%, 0);
  left: 50%;
  background: var(--card-bg);
  position: absolute;
  top: 95%;
  width: 100%;
  transition: all 1s ease-in-out;
  padding: 0 !important;

  ul {
    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 2px solid rgba(0, 0, 0, 0.13);

      button {
        height: 35px;
        background: var(--azure);
        color: var(--white);
        font-size: 16px;
        padding: 5px 15px;

        &:hover {
          background: var(--azureHover);
        }
      }

      font-size: 16px;
      &:hover {
        background: var(--result-hover);
        // cursor: pointer;
      }
      padding: 5px 10px;
    }
  }
}

//* ─── Sidebar ─────────────────────────────────────────────────────────────────

#sidebar {
  background: var(--eerie-black);
  padding: 5px 10px;
  color: white;
  transition: all 0.5s ease-in-out;

  p,
  h1,
  h2,
  h3 {
    color: white !important;
  }

  .sidebarCloseBtnWrapper {
    display: none;
  }
  .sidebar-section {
    margin-bottom: 30px;
  }

  .sidebar-ul {
    padding: 10px 0;
  }
  .sidebar-li {
    font-size: 15px;
    background: var(--sidebar-li-bg);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    p {
      margin-bottom: 13px;
    }

    .ui-wrapper {
      margin: 2px 0;
      display: grid;
      grid-template-columns: 1fr 0.2fr;
      gap: 15px;

      button {
        font-size: 14px;
        height: 28px;
        border-radius: 12px;
      }

      #badBtn {
        padding: 0 10px;
      }
    }
  }
}

.sidebar-btn {
  display: none;
}

//* ─── Media queries ─────────────────────────────────────────────────────────────────

@media screen and (max-width: 850px) {
  #main-dashboard-wrapper {
    position: relative;
    grid-template-columns: 1fr;
  }

  #sidebar {
    position: fixed;
    z-index: 9999;
    min-height: 100vh;
    width: 50%;
    .sidebarCloseBtnWrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }

  .hide-sidebar {
    transform: translateX(-100%);
  }

  .open-sidebar {
    transform: translateX(0%);
  }

  .sidebar-btn {
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: var(--eerie-black);
    top: 80px;
    left: 10px;
    z-index: 9999;
    border-radius: 4px;
    cursor: pointer;

    div {
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: white;

      top: 20px;
      left: 10px;

      &::before {
        position: absolute;
        content: "";
        display: block;
        background-color: inherit;
        width: 20px;
        height: 2px;
        top: 5px;
        // left: 10px;
      }
      &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: inherit;
        width: 20px;
        height: 2px;
        top: -5.5px;
        // left: 10px;
      }
    }
  }

  .sidebar-open {
    z-index: 1000;
    top: 65px;
    height: 100%;
    width: 300px;
  }
}

.hide {
  display: none !important;
}
@media screen and (max-width: 600px) {
  #sidebar {
    width: 65%;
  }
}

@media screen and (max-width: 650px) {
  #main-container {
    // color: red;
  }
  #room-container {
    // color: red;
    #main-container {
      grid-template-columns: 1fr;
    }
    #remote-streams {
      grid-column: 1;
      grid-row: 3/4;
    }
    #video-controls {
      grid-row: 4/-1;
    }
  }
}
