@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400&display=swap");
:root {
  --azure: rgba(0, 122, 235, 1);
  --eerie-black: rgba(33, 33, 33, 1);
  --white: rgb(247, 247, 247);
  --yellowish: #ffe333;
  --callBG: rgba(190, 190, 190, 0.157);
  --errorRed: rgb(223, 38, 38);
  --happyGreen: rgb(95, 206, 95);
}

body {
  background-color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif, helvetica, arial;
}

p,
span,
h1,
h2,
h3,
h4,
h5 {
  color: var(--eerie-black);
}

p,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.8px;
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

#__next {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.form-control button {
  display: block;
  min-width: 250px;
}
.form-control .form-input {
  margin: 0;
  font-size: 15px;
  min-height: 35px;
  border: 0;
}
.form-control .form-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.519);
}
.form-control .form-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.519);
}
.form-control .form-input::placeholder {
  color: rgba(0, 0, 0, 0.519);
}
.form-control .form-input:focus {
  outline: rgb(255, 84, 84);
}

.constrain {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.input__wrapper {
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.136);
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  padding: 2px 5px;
  align-items: center;
  gap: 10px;
}
.input__wrapper svg {
  cursor: pointer;
}
.input__wrapper input {
  flex-basis: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 45px;
  padding: 2px;
  font-size: 17px;
  font-weight: 500;
  transition: background 100ms ease-in-out;
}

.long-btn button {
  height: 35px !important;
  display: block;
  background: var(--happyGreen);
  color: white;
  font-size: 16px;
}
.long-btn button:hover {
  background: rgb(69, 163, 69);
}

.btn_blue {
  color: white;
  background-color: var(--azure);
  transition: all 100ms ease-in-out;
}
.btn_blue:hover {
  background-color: rgb(19, 97, 181);
}

.container {
  max-width: 600px;
}

.card {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.192) 0px 7px 29px 0px;
  border-radius: 10px;
}

.main {
  flex: 1 0 auto;
}

.space-text {
  margin: 10px 0;
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toast-container {
  z-index: 999;
  background-color: var(--azure);
}

.toaster {
  color: red;
}

.grow {
  flex: 1 0 auto;
}

.growContainer {
  display: flex;
}

.bold {
  font-weight: 600;
}

.dashboard-container {
  max-width: 800px;
  margin: 0 auto;
}
.dashboard-container .greeting {
  margin-bottom: 60px;
}

.room-constrain {
  max-width: 485px;
  margin: 0 auto;
}
.room-constrain .room-form {
  margin: 0 auto;
}

#room-form-container {
  background: rgb(255, 255, 255);
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 150px;
}
#room-form-container h1 {
  margin-bottom: 60px;
}
#room-form-container input {
  display: block;
  width: 100%;
}
#room-form-container .btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#room-form-container .btn-wrapper button {
  font-size: 15px;
  max-width: 150px !important;
  min-width: 100px !important;
}
#room-form-container .room-form .form-control {
  margin: 30px 0;
  text-align: start !important;
}
#room-form-container .room-form p {
  font-size: 18px;
}
#room-form-container .btn {
  margin: 0;
  display: block;
  padding: 0;
}
#room-form-container .utils {
  display: flex;
  justify-content: space-between;
}
#room-form-container .utils p {
  color: white;
}
#room-form-container .utils * {
  color: var(--eerie-black);
}
#room-form-container .utils .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(223, 38, 38);
  width: 22px;
  text-align: center;
  height: 22px;
  font-weight: bold;
  padding-bottom: 2.01px;
  transition: scale 150ms ease-in-out;
}
#room-form-container .utils .delete:hover {
  scale: 1.2;
}
#room-form-container .savedRooms {
  padding: 5px;
}
#room-form-container .savedRooms .wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
#room-form-container .savedRooms .saved-room {
  width: 200px;
  aspect-ratio: 2/1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.346);
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}
#room-form-container .savedRooms .saved-room .btn-wrapper {
  display: flex;
  align-items: flex-end;
}
#room-form-container .savedRooms .saved-room .join {
  width: 100%;
}
#room-form-container .savedRooms .saved-room.saved {
  background: rgb(37, 37, 37);
}
#room-form-container .savedRooms .saved-room.not-saved {
  border: dashed 3px rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.394);
}

#room-form-info {
  border-top: 2px solid var(--azure);
  margin-top: 10px;
}
#room-form-info ul {
  margin-top: 30px;
}
#room-form-info ul li {
  display: flex;
  align-items: center;
}
#room-form-info ul li > * {
  display: block;
  color: rgba(0, 0, 0, 0.588);
}
#room-form-info ul li p {
  display: block;
  margin-left: 15px;
}

#room-add-form {
  text-align: center;
}
#room-add-form .room-form {
  margin: 0 auto;
}
#room-add-form .heading {
  margin-bottom: 50px;
}
#room-add-form .heading h2 {
  color: white;
}

.loading-room-form {
  width: 80%;
  height: 400px;
  background: rgb(240, 240, 240);
}

.success {
  background-color: rgb(81, 211, 81);
}

.form__container {
  text-align: center;
  max-width: 450px;
}
.form__container form button {
  width: 100%;
  margin: 20px 0;
}

.yellowish {
  background: var(--yellowish);
}

#room-container {
  margin-top: 20px;
}
#room-container img {
  display: block;
}

#room-title {
  display: flex;
}

#main-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  gap: 10px;
  max-height: 650px;
  max-width: 1200px;
  overflow: hidden;
  padding: 10px;
}
#main-container #video-controls {
  display: flex;
  background: rgb(255, 255, 255);
  min-height: 100px;
  justify-content: space-evenly;
  grid-row: 3/4;
  align-items: center;
}
#main-container #main-hub {
  grid-row: 1/3;
}

.video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#video-container {
  padding: 10px;
  min-height: 100vh;
}

.panel {
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 0;
  background: rgb(255, 255, 255);
}

.centerMe {
  margin: 0 auto;
}

#local-element {
  border-radius: 10px;
  border: 2px solid rgb(226, 73, 73);
  overflow: hidden;
  min-width: 300px;
  max-width: 700px;
}

#local-camera {
  display: block;
  width: 100%;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -mox-transform: rotateY(180deg);
}

#local-stream {
  display: flex;
  align-items: center;
  height: 100%;
}

#remote-streams {
  grid-column: 2/-1;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#remote-streams > div {
  max-width: 400px;
}
#remote-streams .streamContainer {
  height: 200px;
}
#remote-streams .streamContainer video {
  height: 100%;
}

.streamContainer {
  border-radius: 10px;
  overflow: hidden;
  background: rgb(36, 36, 36);
  margin: 5px 0;
  position: relative;
}
.streamContainer .info {
  padding: 2% 2%;
}
.streamContainer:hover .userControls {
  display: flex;
  opacity: 100%;
  transition: all 250ms ease-in-out;
}
.streamContainer p {
  color: white;
  font-weight: bold;
}
.streamContainer .userControls {
  opacity: 0;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

.btn {
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.false {
  background: rgb(223, 38, 38);
  color: white;
  border-radius: 5px;
}

.true {
  background-color: var(--azure);
  transition: all 200ms ease;
}
.true:hover {
  background-color: rgb(11, 103, 188);
}

#exit {
  font-weight: bold;
}

.focus-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.error_input {
  border: 2px solid var(--errorRed) !important;
}

#loading {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
}
#loading div {
  scale: 1.5;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--azure) transparent transparent transparent;
}
#loading div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
#loading div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
#loading div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=globals.css.map */