@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400&display=swap");
:root {
  --azure: rgba(0, 122, 235, 1);
  --azureHover: rgb(16, 116, 209);
  --eerie-black: rgba(33, 33, 33, 1);
  --white: rgb(247, 247, 247);
  --yellowish: #ffe333;
  --callBG: rgba(190, 190, 190, 0.157);
  --errorRed: rgb(221, 50, 50);
  --errorRedHover: rgb(202, 47, 47);
  --happyGreen: rgb(95, 206, 95);
  --happyGreenHover: rgb(84, 180, 84);
  --light-text: rgb(77, 77, 77);
  --sidebar-li-bg: rgba(255, 255, 255, 0.137);
  --result-hover: rgba(255, 0, 0, 0.089);
  --input-bg: rgb(233, 233, 233);
  --videoBG: rgb(255, 255, 255);
  --localBG: rgb(226, 73, 73);
  --leaveBG: rgb(223, 38, 38);
  --panelBG: rgb(255, 255, 255);
  --savedRmBG: white;
  --ph-input-color: rgba(0, 0, 0, 0.519);
  --outline-color: var(--errorRed);
  --card-bg: rgb(255, 255, 255);
  --border-color: rgba(0, 0, 0, 0.136);
  --dashedBG: rgb(0, 0, 0);
  --not-savedBG: rgba(255, 255, 255, 0.394);
  --savedBG: rgb(37, 37, 37);
}

body {
  background-color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif, helvetica, arial;
}

p,
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.8px;
}

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

#__next {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.form-control button {
  display: block;
  min-width: 250px;
}
.form-control .form-input {
  margin: 0;
  font-size: 15px;
  min-height: 35px;
  border: 0;
}
.form-control .form-input::-moz-placeholder {
  color: var(--ph-input-color);
}
.form-control .form-input:-ms-input-placeholder {
  color: var(--ph-input-color);
}
.form-control .form-input::placeholder {
  color: var(--ph-input-color);
}
.form-control .form-input:focus {
  outline: var(--outline-color);
}

.constrain {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.input__wrapper {
  background: white;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  padding: 2px 5px;
  align-items: center;
  gap: 10px;
}
.input__wrapper svg {
  cursor: pointer;
}
.input__wrapper input {
  flex-basis: 100%;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 45px;
  padding: 2px;
  font-size: 17px;
  font-weight: 500;
  transition: background 100ms ease-in-out;
}

.long-btn button {
  height: 35px !important;
  display: block;
  color: white;
  font-size: 16px;
}

.btn_blue {
  color: white;
  background-color: var(--azure);
  transition: all 100ms ease-in-out;
}
.btn_blue:hover {
  background-color: var(--azureHover);
}

.container {
  max-width: 600px;
}

.card {
  padding: 30px;
  background-color: var(--card-bg);
  box-shadow: rgba(100, 100, 111, 0.192) 0px 7px 29px 0px;
  border-radius: 10px;
}

.main {
  flex: 1 0 auto;
}

#toast-container {
  z-index: 999;
  background-color: var(--azure);
}

.toaster {
  color: red;
}

.growContainer {
  display: flex;
}

.bold {
  font-weight: 600;
}

.dashboard-outter-container {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-inner-container {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  flex-grow: 10;
}
.dashboard-inner-container .greeting {
  margin-bottom: 60px;
}

.panel-constrain {
  max-width: 485px;
  margin: 0 auto;
}
.panel-constrain .room-form {
  margin: 0 auto;
}

.panel {
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.226);
  background: var(--panelBG);
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.center > div {
  flex-grow: 100;
}

.panel-max-width {
  max-width: 600px;
}

.marginCenter {
  margin: 0 auto;
}

.uniformRound {
  height: auto !important;
}

#room-form-container {
  margin-top: 80px;
}
#room-form-container h1 {
  margin-bottom: 60px;
}
#room-form-container input {
  display: block;
  width: 100%;
}
#room-form-container .btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#room-form-container .btn-wrapper button {
  font-size: 15px;
  max-width: 150px !important;
  min-width: 100px !important;
}
#room-form-container .room-form .form-control {
  margin: 30px 0;
  text-align: start !important;
}
#room-form-container .room-form p {
  font-size: 18px;
}
#room-form-container .btn {
  margin: 0;
  display: block;
  padding: 0;
}
#room-form-container .circleBtn {
  border-radius: 50%;
}
#room-form-container .utils {
  display: flex;
  justify-content: space-between;
}
#room-form-container .utils p {
  color: white;
}
#room-form-container .utils * {
  color: var(--eerie-black);
}
#room-form-container .utils .delete {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: var(--leaveBG);
  width: 22px;
  text-align: center;
  height: 22px;
  font-weight: bold;
  padding-bottom: 2.01px;
  transition: scale 150ms ease-in-out;
}
#room-form-container .utils .delete:hover {
  scale: 1.2;
}
#room-form-container .savedRooms {
  padding: 5px;
}
#room-form-container .savedRooms .wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}
#room-form-container .savedRooms .saved-room {
  width: 200px;
  aspect-ratio: 2/1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.346);
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}
#room-form-container .savedRooms .saved-room .btn-wrapper {
  display: flex;
  align-items: flex-end;
}
#room-form-container .savedRooms .saved-room .join {
  width: 100%;
}
#room-form-container .savedRooms .saved-room.saved {
  background: var(--savedBG);
}
#room-form-container .savedRooms .saved-room.not-saved {
  border: dashed 3px var(--dashedBG);
  background: var(--not-savedBG);
}

#room-form-info {
  border-top: 2px solid var(--azure);
  margin-top: 10px;
}
#room-form-info ul {
  margin-top: 30px;
}
#room-form-info ul li {
  display: flex;
  align-items: center;
}
#room-form-info ul li > * {
  display: block;
  color: rgba(0, 0, 0, 0.588);
}
#room-form-info ul li p {
  display: block;
  margin-left: 15px;
}

#room-add-form {
  text-align: center;
}
#room-add-form .room-form {
  margin: 0 auto;
}
#room-add-form .heading {
  margin-bottom: 50px;
}
#room-add-form .heading h2 {
  color: white;
}

.loading-room-form {
  width: 80%;
  height: 400px;
  background: rgb(240, 240, 240);
}

.form__container {
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
}
.form__container form button {
  width: 100%;
  margin: 20px 0;
}

.yellowish {
  background: var(--yellowish);
}

#room-container {
  margin-top: 20px;
}
#room-container img {
  display: block;
}

#room-title {
  display: flex;
}

#main-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  gap: 10px;
  max-width: 1200px;
  padding: 10px;
}
#main-container #video-controls {
  display: flex;
  background: var(--panelBG);
  min-height: 100px;
  justify-content: space-evenly;
  grid-row: 3/4;
  align-items: center;
}
#main-container #main-hub {
  grid-row: 1/3;
  font-size: 15px !important;
}
#main-container #main-hub .room-info {
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.116);
}
#main-container #main-hub .room-info button {
  padding: 10px;
  font-size: 15px !important;
  width: 125px;
  height: 35px;
}
#main-container #main-hub .room-info .room-icons {
  margin-top: 10px;
}

.video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#video-container {
  padding: 10px;
  min-height: 100vh;
}

.centerMe {
  margin: 0 auto;
}

#local-element {
  border-radius: 10px;
  overflow: hidden;
  min-width: 300px;
  max-width: 700px;
}

#local-camera {
  display: block;
  width: 100%;
}

video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -mox-transform: rotateY(180deg);
}

#local-stream {
  z-index: 100;
  position: relative;
  display: flex;
}
#local-stream video {
  position: relative !important;
}
#local-stream > div {
  border: 3px solid var(--leaveBG);
  height: auto !important;
}

#remote-streams {
  grid-column: 2/-1;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#remote-streams video {
  max-width: 100%;
  min-height: auto;
}

.streamContainer {
  border-radius: 10px;
  overflow: hidden;
  background: rgb(238, 0, 0);
  background: rgb(36, 36, 36);
  margin: 5px 0;
}
.streamContainer .info {
  padding: 2% 2%;
}
.streamContainer > div {
  height: auto !important;
  width: auto !important;
  max-width: 100% !important;
}
.streamContainer > div video {
  position: relative !important;
  height: auto !important;
  width: auto !important;
  display: block;
}
.streamContainer:hover .userControls {
  display: flex;
  opacity: 100%;
  transition: all 250ms ease-in-out;
}
.streamContainer p {
  color: white;
  font-weight: bold;
}
.streamContainer .userControls {
  opacity: 0;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

#friend-form-inner {
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
#friend-form-inner button {
  margin: 0;
}
#friend-form-inner input {
  flex-grow: 100;
}

#friend-results {
  color: var(--light-text) !important;
  transform: translate(-50%, 0);
  left: 50%;
  background: var(--card-bg);
  position: absolute;
  top: 95%;
  width: 100%;
  transition: all 1s ease-in-out;
  padding: 0 !important;
}
#friend-results p {
  padding: 5px 10px;
  color: var(--light-text) !important;
}
#friend-results ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
  font-size: 16px;
  padding: 5px 10px;
}
#friend-results ul li button {
  height: 35px;
  background: var(--azure);
  color: var(--white);
  font-size: 16px;
  padding: 5px 15px;
}
#friend-results ul li button:hover {
  background: var(--azureHover);
}
#friend-results ul li:hover {
  background: var(--result-hover);
}

#sidebar {
  background: var(--eerie-black);
  padding: 5px 10px;
  color: white;
}
#sidebar p,
#sidebar h1,
#sidebar h2,
#sidebar h3 {
  color: white !important;
}
#sidebar .sidebar-section {
  margin-bottom: 30px;
}
#sidebar .sidebar-ul {
  padding: 10px 0;
}
#sidebar .sidebar-li {
  font-size: 15px;
  background: var(--sidebar-li-bg);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#sidebar .sidebar-li p {
  margin-bottom: 13px;
}
#sidebar .sidebar-li .ui-wrapper {
  margin: 2px 0;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  gap: 15px;
}
#sidebar .sidebar-li .ui-wrapper button {
  font-size: 14px;
  height: 28px;
  border-radius: 12px;
}
#sidebar .sidebar-li .ui-wrapper #badBtn {
  padding: 0 10px;
}/*# sourceMappingURL=globals.css.map */