.block-btn {
  font-size: 15px;
  max-width: 150px !important;
  min-width: 100px !important;
}

.btn {
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.falseVideoBtn {
  background: var(--leaveBG);
  color: white;
  border-radius: 5px;
}

.validVideoBtn {
  background-color: var(--azure);
  transition: all 200ms ease;
}
.validVideoBtn:hover {
  background-color: rgb(11, 103, 188);
}

.flex {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.text-left {
  text-align: start;
}

.grow {
  flex-grow: 100;
}

.shrink {
  flex-shrink: 100;
}

.space-text {
  margin: 10px 0;
}

.no-click-svg {
  pointer-events: none;
}
.no-click-svg * > {
  pointer-events: none;
}

.display-none {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#exit {
  font-weight: bold;
}

.focus-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.error_input {
  border: 2px solid var(--errorRed) !important;
}

.error_svg {
  fill: var(--errorRed) !important;
}

.error_text {
  color: var(--eerie-black) !important;
  font-weight: 400;
}

.success {
  background-color: var(--happyGreen);
}

.successBg {
  color: white;
  height: 35px;
  background-color: var(--happyGreen);
}
.successBg:hover {
  background-color: var(--happyGreenHover);
}

.danger {
  background-color: var(--errorRed);
}

.dangerBg {
  color: white;
  background-color: var(--errorRed);
}
.dangerBg:hover {
  background-color: var(--errorRedHover);
}

.azureBg {
  background: var(--azure);
  color: white;
}
.azureBg:hover {
  background: var(--azureHover);
}

.checkbox {
  width: auto !important;
  display: inline !important;
}

.blockElement {
  display: block;
}

.input {
  background: var(--input-bg);
  border-radius: 4px;
  position: relative;
  padding: 5px;
  margin: 0;
  font-size: 15px;
  height: 35px;
  border: 0;
  width: 100%;
}

.square {
  border-radius: 0;
}

.relative {
  position: relative;
}

.offOverflow {
  overflow: visible;
}

.small {
  height: 75px !important;
  scale: 0.5 !important;
}

.longBtn {
  height: 35px;
  font-size: 15px;
  width: 100%;
}

#loading {
  margin: 30px auto;
  position: relative;
  width: 150px;
  height: 150px;
}
#loading div {
  scale: 1.5;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--azure) transparent transparent transparent;
}
#loading div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}
#loading div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
#loading div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=utils.css.map */